<h1 class="text-white style="margin-top: 10px;">Nogiステ(乃木坂46 LiveStation)</h1>
<p class="text-white" style="text-align: left;">アカウント削除</p>    
<p style="text-align: right;"><a href="/nogizakas">ユーザー一覧へ>></a></p>    
<table class="table" style="margin-top: 50px;">
    <tr><th>ユーザー名</th><td><%= @data.name %></td></tr>
    <tr><th>年齢</th><td><%= @data.age %></td></tr>
    <tr><th>推しメン</th><td><%= @data.member %></td></tr>
    <tr><th>好きな楽曲</th><td><%= @data.song %></td></tr>
    <tr><th>自己紹介</th><td><%= @data.introduction %></td></tr>
</table>
<%= form_tag controller: "nogizakas", action: "destroy" do%>
    <%= hidden_field_tag "id", {value: @nogizaka.id} %>
    <input type="submit" name="destroy" value="削除" class="btn btn-primary">
<% end %>
