<h2 class="text-white" style="padding-top: 10px;">個人プロフィール</h2>
<p class="photo" style="text-align: right;"><a href="/nogizakas">ユーザー一覧へ>></a></p>    
<table class="table text-black" style="margin-top: 50px;">
    <tr><th>ユーザー名</th><td><%= @data.name %></td></tr>
    <tr><th>年齢</th><td><%= @data.age %></td></tr>
    <tr><th>推しメン</th><td><%= @data.member %></td></tr>
    <tr><th>好きな楽曲</th><td><%= @data.song %></td></tr>
    <tr><th>投稿数</th><td><%= @data.nogimasa.posts.joins(:images).count %></td></tr>
    <tr><th>自己紹介</th><td><%= @data.introduction %></td></tr>
</table>