<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2018~</h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/ikoma" style="color: purple;">生駒里奈卒業コンサート(日本武道館) (<%= Image.where(place: "[\"ikoma\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/under_tyubu" style="color: purple;">アンダーライブ全国ツアー~中部シリーズ~ (<%= Image.where(place: "[\"under_tyubu\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/sixth" style="color: purple;">6th YEAR BIRTHDAY LIVE(明治神宮野球場・秩父宮ラグビー場) (<%= Image.where(place: "[\"sixth\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/eight_summer_fukuoka" style="color: purple;">真夏の全国ツアー2018福岡(ヤフオク!ドーム) (<%= Image.where(place: "[\"eight_summer_fukuoka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/eight_summer_osaka" style="color: purple;">真夏の全国ツアー2018大阪(長居陸上競技場) (<%= Image.where(place: "[\"eight_summer_osaka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/eight_summer_nagoya" style="color: purple;">真夏の全国ツアー2018名古屋(ナゴヤドーム) (<%= Image.where(place: "[\"eight_summer_nagoya\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/eight_summer_sendai" style="color: purple;">真夏の全国ツアー2018仙台(宮城スタジアム) (<%= Image.where(place: "[\"eight_summer_sendai\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/under_hokkaido" style="color: purple;">アンダーライブ全国ツアー~北海道シリーズ~ (<%= Image.where(place: "[\"under_hokkaido\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/eight_shanghai" style="color: purple;">LIVE in Shanghai(メルセデスベンツアリーナ) (<%= Image.where(place: "[\"eight_shanghai\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/waka" style="color: purple;">若月佑美卒業コンサート(日本武道館) (<%= Image.where(place: "[\"waka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2018/under_kanto" style="color: purple;">アンダーライブ全国ツアー~関東シリーズ~ (<%= Image.where(place: "[\"under_kanto\"]").count %>)</a></h4>