<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2015~ <span style="font-size: 25px;">( )は投稿枚数</span></h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/third" style="color: purple;">3rd YEAR BIRTHDAY LIVE(西武ドーム) (<%= Image.where(place: "[\"third\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_sendai" style="color: purple;">真夏の全国ツアー2015仙台(ゼビオアリーナ) (<%= Image.where(place: "[\"five_summer_sendai\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_nagoya" style="color: purple;">真夏の全国ツアー2015名古屋(ガイシホール) (<%= Image.where(place: "[\"five_summer_nagoya\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_hirosima" style="color: purple;">真夏の全国ツアー2015広島(サンプラザホール) (<%= Image.where(place: "[\"five_summer_hirosima\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_fukuoka" style="color: purple;">真夏の全国ツアー2015福岡(福岡国際センター) (<%= Image.where(place: "[\"five_summer_fukuoka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_osaka" style="color: purple;">真夏の全国ツアー2015大阪(大阪城ホール) (<%= Image.where(place: "[\"five_summer_osaka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_summer_tokyo" style="color: purple;">真夏の全国ツアー2015東京(明治神宮野球場) (<%= Image.where(place: "[\"five_summer_tokyo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_under_four" style="color: purple;">アンダーライブ4thシーズン(AiiA Theater) (<%= Image.where(place: "[\"five_under_four\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_under_budo" style="color: purple;">アンダーライブ at 日本武道館(日本武道館) (<%= Image.where(place: "[\"five_under_budo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2015/five_xmas" style="color: purple;">Merry X'mas Show 2015(日本武道館) (<%= Image.where(place: "[\"five_xmas\"]").count %>)</a></h4>