<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2014~</h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/second" style="color: purple;">2nd YEAR BIRTHDAY LIVE(横浜アリーナ) (<%= Image.where(place: "[\"second\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_under" style="color: purple;">乃木坂46 アンダーライブ(AiiA Theater Tokyo) (<%= Image.where(place: "[\"four_under\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_summer_osaka" style="color: purple;">真夏の全国ツアー2014大阪(大阪中央体育館) (<%= Image.where(place: "[\"four_summer_osaka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_summer_fukuoka" style="color: purple;">真夏の全国ツアー2014福岡(福岡国際センター) (<%= Image.where(place: "[\"four_summer_fukuoka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_summer_sendai" style="color: purple;">真夏の全国ツアー2014仙台(ゼビオアリーナ) (<%= Image.where(place: "[\"four_summer_sendai\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_summer_nagoya" style="color: purple;">真夏の全国ツアー2014名古屋(ガイシホール) (<%= Image.where(place: "[\"four_summer_nagoya\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_summer_tokyo" style="color: purple;">真夏の全国ツアー2014東京(明治神宮野球場) (<%= Image.where(place: "[\"four_summer_tokyo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_under_second" style="color: purple;">アンダーライブ2nd(六本木ブルーシアター) (<%= Image.where(place: "[\"four_summer_second\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_under_xmas" style="color: purple;">アンダラX'masShow`14(有明コロシアム) (<%= Image.where(place: "[\"four_under_xmas\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2014/four_xmas" style="color: purple;">Merry X'mas Show 2014(有明コロシアム) (<%= Image.where(place: "[\"four_xmas\"]").count %>)</a></h4>