<h2 class="text-white" style="padding-top: 10px;">投稿</h2>
<p class="post"style="text-align: right;"><a href="/posts/2012/zepptokyo">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<%= form_for(@post, url:{controller:"posts", action:"create_zepptokyo"}, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
    <div class="form-group">
        <%= f.fields_for :images do |i|%>
            <%= i.file_field :file, multiple: true, name: "images[file][]" %>
            <%= i.hidden_field :place, :value=> "zepptokyo", multiple: true, name: "images[place][]" %>
        <% end %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script>
$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
    fileInput.fileupload({
      fileInput:       fileInput,
      url:             form.data('url'),
      type:            'POST',
      autoUpload:       true,
      formData:         form.data('form-data'),
      paramName:        'file',
      dataType:         'XML',
      replaceFileInput: false,
      progressall: function (e, data) {
        console.log('progressall');
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        console.log('start');
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        console.log('done'); 
        submitButton.prop('disabled', false);
        progressBar.text("投稿準備完了");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        var path   = '/' + key;

        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: path })
        form.append(input);
      },  
      fail: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.
          css("background", "red").
          text("Failed");
      }
    });
  });
});
</script>