<h2 class="text-white" style="padding-top: 10px;">投稿</h2>
<p class="post" style="text-align: right;"><a href="/posts/2018/waka">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<%= form_for(@post, url:{controller:"posts", action:"create_waka"}) do |f| %>
    <div class="form-group">
        <%= f.fields_for :images do |i|%>
            <%= i.file_field :file, multiple: true, name: "images[file][]" %>
            <%= i.hidden_field :place, :value=> "waka", name: "images[place][]" %>
        <% end %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>