<h2 class="text-white" style="padding-top: 10px;">投稿</h2>
<p class="post" style="text-align: right;"><a href="/posts/2014/four_under_second">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<%= form_for(@post, url:{controller:"posts", action:"create_four_under_second"}, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>
    <div class="form-group">
        <%= f.fields_for :images do |i|%>
            <%= i.file_field :file, multiple: true, name: "images[file][]" %>
            <%= i.hidden_field :place, :value=> "four_under_second",  name: "images[place][]" %>
        <% end %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>