<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2019~</h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_taipei" style="color: purple;">Live in Taipei 2019(台北アリーナ) (<%= Image.where(place: "[\"nine_taipei\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/seventh" style="color: purple;">7th YEAR BIRTHDAY LIVE(京セラドーム) (<%= Image.where(place: "[\"seventh\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/misa" style="color: purple;">衛藤美彩卒業ソロコンサート(両国国技館) (<%= Image.where(place: "[\"misa\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/sing_out" style="color: purple;">「Sing Out!」発売記念ライブ(横浜アリーナ) (<%= Image.where(place: "[\"sing_out\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_summer_nagoya" style="color: purple;">真夏の全国ツアー2019名古屋(ナゴヤドーム) (<%= Image.where(place: "[\"nine_summer_nagoya\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_summer_fukuoka" style="color: purple;">真夏の全国ツアー2019福岡(ヤフオク!ドーム) (<%= Image.where(place: "[\"nine_summer_fukuoka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_summer_osaka" style="color: purple;">真夏の全国ツアー2019大阪(京セラドーム) (<%= Image.where(place: "[\"nine_summer_osaka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_summer_tokyo" style="color: purple;">真夏の全国ツアー2019東京(明治神宮野球場) (<%= Image.where(place: "[\"nine_summer_tokyo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_under" style="color: purple;">アンダーライブ2019 at 幕張メッセ(幕張メッセ) (<%= Image.where(place: "[\"nine_under\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/nine_shanghai" style="color: purple;">LIVE in Shanghai(メルセデスベンツアリーナ) (<%= Image.where(place: "[\"nine_shanghai\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2019/san_yonki" style="color: purple;">3・4期生ライブ(代々木体育館) (<%= Image.where(place: "[\"san_yonki\"]").count %>)</a></h4>