<h2 class="text-white" style="padding-top: 10px;">ライブ写真共有~2013~</h2>
<p class="admin" style="text-align: right;"><a href="/posts">戻る>></a></p>
<div style="display: flex; justify-content: flex-end;"><p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p></div>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/first" style="color: purple;">1st YEAR BIRTHDAY LIVE(幕張メッセ) (<%= Image.where(place: "[\"first\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_sapporo" style="color: purple;">真夏の全国ツアー2013札幌(Zepp Sapporo) (<%= Image.where(place: "[\"three_summer_sapporo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_fukuoka" style="color: purple;">真夏の全国ツアー2013福岡(Zepp Fukuoka) (<%= Image.where(place: "[\"three_summer_fukuoka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_osaka" style="color: purple;">真夏の全国ツアー2013大阪(Zepp Namba) (<%= Image.where(place: "[\"three_summer_osaka\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_nagoya" style="color: purple;">真夏の全国ツアー2013名古屋(Zepp Nagoya) (<%= Image.where(place: "[\"three_summer_nagoya\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_tokyo" style="color: purple;">真夏の全国ツアー2013東京(Zepp Tokyo) (<%= Image.where(place: "[\"three_summer_tokyo\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_summer_final" style="color: purple;">真夏の全国ツアー2013 FINAL(代々木体育館) (<%= Image.where(place: "[\"three_summer_final\"]").count %>)</a></h4>
<h4 style="text-align: center; margin-top: 18px;"><a href="/posts/2013/three_xmas" style="color: purple;">Merry X'mas Show 2013（日本武道館) (<%= Image.where(place: "[\"three_xmas\"]").count %>)</a></h4>