<h2 class="text-white"style="padding-top: 10px;">若月佑美卒業コンサート（日本武道館）</h2>
<p style="text-align: right;"><a href="/posts/2018">戻る>></a></p>
<p style="text-align: right;"><a href="/nogitops">トップページへ>></a></p>
<% @image.each do |obj| %>    
    <div style="display: inline-block;">
        <%= image_tag obj.imgix_url + "?fit=fill&fill=solid&fill-color=000000&w=189&h=189" %>
        <% if obj.post.user.username==current_user.username || current_user.admin? %>
            <div style="display: flex; justify-content: space-between;">
                <div id="favos_buttons_<%= obj.id %>" >
                    <%= render partial: "favos/favo", locals: { obj: obj} %>
                </div>
                <div>
                    <p><a href="/nogizakas/<%=obj.post.user.account.id %>" style="color: purple;"><%= obj.post.user.username %></a></p>
                </div>
                <%= link_to "/posts/waka/#{obj.id}", method: :delete, data: {confirm: "この写真を本当に削除しますか?" } do %>
                    <i class="fas fa-trash trash"></i>
                <% end %>
            </div>
        <% else %>
            <div style="display: flex; justify-content: center; position: relative;">
                <div style="position: absolute; left: 0;" id="favos_buttons_<%= obj.id %>" >
                    <%= render partial: "favos/favo", locals: { obj: obj} %>
                </div>
                <div>
                    <p><a href="/nogizakas/<%=obj.post.user.account.id %>" style="color: purple;"><%= obj.post.user.username %></a></p>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
<div style="position: sticky; bottom: 0; text-align: right;">
    <a href="/posts/new_waka"><i class="fas fa-plus-circle plus"></i></a>
</div>